<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="reporter"><%= reporter.name %></h4>
        <%= link_to edit_user_reporter_path(:id => reporter.id, :user_id => reporter.user.id), class: "pull-right reporter-edit" do %>
        <i class="glyphicon glyphicon-edit"></i>
        Edit
        <% end %>
        <%= link_to user_reporter_path(:id => reporter, :user_id => reporter.user.id), method: :delete, data: { confirm: "Are you sure you want to remove #{reporter.name}?" }, class: "pull-right reporter-delete" do %>
        <i class="glyphicon glyphicon-remove"></i>
        Remove
        <% end %>
      </div>
      <div class="panel-body">
        <p class="text-right">
          <%= mail_to reporter.email %>
          - checkin every
          <%= pluralize(reporter.interval, reporter.interval_units.singularize) %><br/>Checkin link:
          <%= link_to reporter.checkin_url(root_url), reporter.checkin_url(root_url), target: '_blank' %>
        </p>
        <div class="panel panel-default">
          <div class="panel-body bg-info">
            <% if style == :summary %>
            <%= render reporter.ascending_events[0..2].map { |e| e.becomes(Event) } || "No events yet." %>
            <% if reporter.ascending_events.count > 3 %>
            <p><%= link_to "...", user_reporter_path(:id => reporter.id, :user_id => reporter.user.id) %></p>
            <% end %>
            <% else %>
            <%= render reporter.paginated_ascending_events(page_id).map { |e| e.becomes(Event) } %>
            <%= will_paginate reporter.paginated_ascending_events(page_id) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
