<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="reporter"><%= reporter.name %></h4>
        <%= link_to edit_reporter_path(reporter), class: "pull-right reporter-edit" do %>
        <i class="glyphicon glyphicon-edit"></i>
        Edit
        <% end %>
      </div>
      <div class="panel-body">
        <p class="text-right">
          <%= mail_to reporter.email %>
          - checkin every
          <%= reporter.interval %>
        </p>
        <% if style == :summary %>
        <p>
          <%= render reporter.ascending_events[0..2].map { |e| e.becomes(Event) } || "No events yet." %>
        </p>
        <% if reporter.ascending_events.count > 3 %>
        <p><%= link_to "...", reporter %></p>
        <% end %>
        <% else %>
        <p>
          <%= render reporter.ascending_events.map { |e| e.becomes(Event) } || "No events yet." %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
