<p id="notice"><%= notice %></p>

<% if @reporter != nil %>
<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center">Hi
      <%= @reporter.name %>
    </h2>

    <%= form_tag "/checkins/" + @reporter.uuid, method: :post do %>
    <p class="text-center">
      <input class="btn btn-primary btn-lg checkin-button" type="submit" value="Checkin"/>
    </p>
    <%end%>
    <h3 class="text-center">
      <% if @reporter.latest_event.instance_of?(Notification) %>
      No checkin activity since
      <%= @reporter.latest_event.created_at.localtime.strftime('%a, %h %d at %r') %>! Notification sent.
      <% elsif @reporter.latest_event.instance_of?(Reminder)%>
      No checkin activity since
      <%= @reporter.latest_event.created_at.localtime.strftime('%a, %h %d at %r') %>; reminder sent.
      <% elsif @reporter.next_reminder != nil %>
      You'll be reminded to checkin
      <u><%= @reporter.next_reminder.localtime.strftime('%a, %h %d at %r') %></u>
      <% end %>
    </h3>
  </div>
</div>
<%else %>
<p>Record not found.</p>
<% end%>
