<!DOCTYPE html>
<html>

<head>
  <title>Tock</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
  <div id="main-container" class="container">
    <div class="row" id="header">
      <div class="col-xs-9">
        <h1>Tock</h1>
      </div>
      <div class="col-xs-3">
        <div id="signature" class="pull-right">CINS 465
          <br/>Caleb Callaway
        </div>
      </div>
    </div>
    <div class="row">
      <% if current_user == nil and !((controller_name == 'sessions' and action_name == 'new') or (controller_name == 'registrations' and action_name == 'new'))%>
        <% #Don't allow access without a valid user session %>
          <h4 class="text-center">Please
            <%= link_to "sign in", new_user_session_path %> or
              <%= link_to "sign up", new_user_registration_path %> to continue.</h4>
          <% else %>
            <%= render partial: 'user_nav' %>
              <p class="alert">
                <%= alert %>
              </p>
              <%= yield %>
                <% end %>
    </div>
  </div>
</body>

</html>
