<!DOCTYPE html>
<html>

<head>
  <title>Tock</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
        <script type="text/javascript">
          var BASE_URL = '<%= root_url %>';
        </script>
</head>

<body>
  <div id="main-container" class="container">
    <div class="row" id="header">
      <div class="col-xs-9">
        <h1>Tock</h1>
      </div>
      <div class="col-xs-3">
        <div id="signature" class="pull-right">CINS 465
          <br/>Caleb Callaway
        </div>
      </div>
    </div>
    <div class="row">
      <%= render partial: 'user_nav' %>
        <p class="alert">
          <%= alert %>
        </p>
        <%= yield %>
    </div>
  </div>
</body>

</html>
